<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <div class="card">
        <div class="card-header bg-primary">
          <div class="row">
            <div class="col-6 text-white">
              <h6 class="p-2">User List</h6>
            </div>
            <div class="col-6 text-end">
              <button class="btn btn-info">Add User</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Mobile</th>
                <th>Department</th>
                <th>DOJ</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              @for (item of userList; track $index) {
              <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.gender }}</td>
                <td>{{ item.mobile }}</td>
                <td>{{ item.department }}</td>
                <td>{{ item.doj }}</td>
                <td>{{ item.status ? "Active" : "InActive" }}</td>
                <td class="text-center">
                  <i class="fa fa-edit text-primary" (click)="onEdit(item)"></i>
                  |
                  <i
                    class="fa fa-trash text-danger"
                    (click)="onDelete(item.id)"
                  ></i>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-header bg-primary">
          <div class="row">
            <div class="col-6 text-white">
              <h6 class="p-2">{{ editMode ? "Update User " : "Add User" }}</h6>
            </div>
            <div class="col-6 text-end">
              <button class="btn btn-info" (click)="onResetForm()">
                RESET
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="col-6">
              <select class="form-select" formControlName="department" required>
                <option value="">Select Department</option>
                @for (item of departmentList; track $index) {
                <option>{{ item }}</option>
                }
              </select>
            </div>
            <div class="col-6">
              <input
                type="text"
                class="form-control"
                formControlName="name"
                required
                placeholder="Name"
                id=""
              />
            </div>
            <div class="col-6">
              <input
                type="text"
                class="form-control"
                formControlName="email"
                required
                placeholder="Email"
                id=""
              />
            </div>
            <div class="col-6">
              <input
                type="text"
                class="form-control"
                formControlName="mobile"
                required
                placeholder="Mobile"
                id=""
              />
            </div>
            <div class="col-6">
              <input
                type="date"
                class="form-control"
                formControlName="doj"
                required
                placeholder="DOJ"
                id=""
              />
            </div>
            <div class="col-6">
              <div class="form-check form-check-inline">
                <input
                  type="radio"
                  class="form-check-input"
                  formControlName="gender"
                  value="male"
                  required
                />
                <label class="form-check-label">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  type="radio"
                  class="form-check-input"
                  formControlName="gender"
                  value="female"
                  required
                />
                <label class="form-check-label">Female</label>
              </div>
            </div>
            <div class="col-6">
              <select class="form-select" formControlName="city" required>
                <option value="">Select City</option>
                @for (item of cityList; track $index) {
                <option>{{ item }}</option>
                }
              </select>
            </div>

            <div class="col-12">
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  formControlName="status"
                />
                <label class="form-check-label"> Active ?</label>
              </div>
            </div>
            <div class="col-12">
              <button class="btn btn-primary w-100" type="submit">
                {{ editMode ? "Update" : "Save" }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
